[Desktop Entry]
Version=1.0
Name=Mindful Break
GenericName=Break Reminder
Comment=Take regular breaks from your computer
Keywords=break;timer;reminder;health;ergonomics;
Exec=/home/george/Scripts/mindfulbreak.sh
Icon=/home/george/Git_Repos/mindfulbreaks/icon.png
Terminal=false
Type=Application
Categories=Utility;GTK;
StartupNotify=false

